/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

.site-identity{
    background-color: lightskyblue;
    background-image: url("../img/pattern.png");
    background-position: 50px 280px; 
}

.logo{
    width: 250px; 
}



