/* CLASS RESET/common-general - tutto quello che vogliamo sia creato di base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
  } 

.container{
    width: 1200px;
    margin: 0 auto;
}

.site-identity{
    background-color: lightskyblue;
    background-image: url("../img/pattern.png");
    background-size: 30%;
}

.logo{
    max-width: 20%; 
    margin: 35px 0;
}

.title{
    font-size: 50px;
    margin: 0;
}

.writer{
font-size: 18px;
color: gray;
font-weight: bold;
}

.article-date{
font-size: 12px;
color: gray;
font-weight: bold;
padding-bottom: 20px;
}

/* .list{
    margin per irentrare i pallini
} */


.highlighted{
    background-color: #ffe44d;
}
.row-title{
    background-color: rgb(23, 149, 190);
    color: white;
    font-weight: bold;
}

.row-left{
    display: inline-block;
    width: 30%; 
}

.row-middle{
    display: inline-block;
    width: 30%;
    /* line-height: 30px;
    vertical-align: middle; */
}

.row-right{
    display: inline-block;
    width: 30%;
}

.row-white{
    background-color: white;
}

.row-lightblue{
    background-color: lightblue;
}

.footer-image-2{
    display: block;
}

h3{
    color: gray;
}
.lightblue{
    color: rgb(9, 194, 255);
}

